# Certificados ARCA
AFIP_CERT=certs/cert.crt
AFIP_KEY=certs/private.key
AFIP_CUIT=20000000000
AFIP_PV=1
AFIP_AMBIENTE=homologacion   # cambiar a "produccion" cuando salgas a producción
AFIP_CONDICION=RI

# Google Sheets
GOOGLE_CREDS_JSON=certs/google_service.json
GOOGLE_SHEET_NAME=Facturación ARCA
GOOGLE_SHEET_TAB=Facturas
